body{
    margin: 0px;
    padding: 0px;
   
    background-color: black;
    color: white;
    box-sizing: border-box;

    font-family: sans-serif;
}

.logo{
    font-size: 50px;
    color: red;

}

.container{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    padding: 4rem;

    height: 100%;
}

h1{
    margin-top: 50px;
}

.usuarios{
    display:flex;
    color: grey;
    max-width: 700px;

    margin: 30px 0px 90px 0px;
}

.perfis{
    padding: 10px;
    font-weight: 600;
}

.perfis:hover{
    color: white;
    cursor: pointer;
}

.img-perfis{
    border: 3px solid transparent;
    width: 160px;
    border-radius: 10px;
}

.img-perfis:hover{
    border-color:rgb(78, 78, 78);
    border-radius: 10px;
    
}

.gerenciador{
    font-size: 1.1rem;
    font-weight: 500;

    background-color: transparent;
    color: white;

    border-radius: 10px;
    border: 1px solid white;

    padding: 15px 20px;
    width: 200px;
}

.gerenciador:hover{
    background-color: white;
    color: black;
    border: 1px solid black;
    cursor: pointer;
}